input[type="text"] {
    width: 80%;
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
    border-radius: 5%;
}

input[type="button"] {
    background-color: transparent;
    padding: 8px;
    font-size: 16px;
}

.btnAccept {
    background-color: rgb(238, 238, 238);
    width: 15%;
    padding: 8px;
    font-size: 16px;
    border-radius: 1%;
    border: 1px solid rgb(110, 110, 110);
}

.btnMini{
    background-color: rgb(238, 238, 238);
    padding: 8px;
    font-size: 10px;
    border-radius: 1%;
    border: 1px solid rgb(110, 110, 110);
}

.buttonLi {
    background-color: transparent;
    border: none;
    margin-right: 2%;
    font-size: 14px;
    padding: 4px 8px;
}

h1 {
    margin-left: 10px;
}