ul {
	list-style-position: inside;
	width: 600px;
	max-width: 100%;
	background: white;
	padding: 0;
	margin-top: 2rem;
}

li {
	margin-left:0%;
	padding: 0 0 0 1rem;
	border-bottom: 1px solid rgb(100, 189, 219);
}

span {
	margin-right: auto;
	margin-left: 5px;
}


.done {
    text-decoration-line: line-through;
}

.remainingTasks{
    margin-left: auto;
    padding: 1rem;
    font-size: 0.7rem;
    color: #333;
}

.deleteButton {
	color:red;
	font-size: 1rem;
}

.editButton {
	color:rgb(0, 145, 24);
	font-size: 1rem;
}